body {
  background-color: #f2f2f2;
}
.cart {
  .cart-content {
    margin-top: 40px;
    margin-bottom: 130px;
    overflow-y: auto;
    .cart-content-top {
      border-top: 1px solid #efefef;
      height: 30px;
      padding: 0 10px;
      background-color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .cart-content-top-left {
        color: #7a7a7a;
      }
      .cart-content-top-right {
        font-weight: bold;
        color: #d87ec6;
      }
    }
    .cart-goods {
      .cart-goods-item {
        margin-bottom: 5px;
        background-color: #fff;
        width: 100vw;
        height: 112px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px 0 20px;
        img {
          width: 66px;
          height: 66px;
        }
        .cart-goods-detail {
          width: 220px;
          color: #7a7a7a;
          .cart-goods-name {
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .cart-goods-type {
            margin-top: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .cart-goods-bottom {
            margin-top: 2px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .cart-goods-price {
              span:nth-of-type(1){
                font-size: 14px;
                font-weight: bold;
                color: #ff7f55;
              }
              span:nth-of-type(2){
                text-decoration: line-through;
                color: #b0b0b0;
                margin-left: 5px;
              }
            }
            .cart-goods-num {
              button {
                width: 25px;
                height: 30px;
                outline: none;
                border: 1px solid #ddd;
                color: #ccc;
                border-radius: 6px;
                background-color: #fff;
              }
              span {
                display: inline-block;
                width: 40px;
                font-size: 14px;
                text-align: center;
                color: #999;
              }
            }
          }
        }
      }
    }
  }
  .cart-footer {
    position: fixed;
    left: 0;
    bottom: 66px;
    width: 100vw;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14px 0 20px;
    border-top: 1px solid #eee;
    .cart-check-all {
      color: #666;
      display: flex;
      align-items: center;
    }
    .cart-select-price {
      color: #666;
      font-weight: bold;
      display: flex;
      align-items: center;
      span {
        color: #ff4794;
        font-size: 18px;
        font-weight: bold;
      }
    }
    .cart-settlement {
      display: inline-block;
      width: 100px;
      height: 40px;
      border-radius: 7px;
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      line-height: 40px;
      cursor: pointer;
      background-color: #ff4794;
    }
  }
}

.iconfont {
  font-size: 14px!important;
}

.icon-xuanzhongduigou {
  color: #ff4794;
}