div.address {
    background-color: #fff;
  dl {
   width: 100vw;
   margin-top: 50px;
   
    dt {
width: 100vw;

      input {
     
      border:#ccc 1px solid;

        padding: 0 20px;
height: 40px;
line-height: 40px;
width: 328px;
margin:  20px 20px 10px 20px ;
border-radius: 20px;
      }
    }

    dd {
      padding: 10px;
      p {
height: 40px;
line-height:40px;
font-size: 20px;
padding-left: 15px;
color: #ccc;
background-color: rgba(242, 242, 242, 1);
      }

      div {
        margin: 10px;
        span.iconfont.icon-dizhi {

        }

        span {

        }
      }

      ul {
        li {
list-style: none;
font-size: 16px;
height: 30px;
line-height: 30px;
        }
      }
    }
  }
}