

  .groupShop {
    .groupShop-top {
      img {
  width: 375px;
      }
    }
  
    .groupShop-main {
      dl.groupShop-items {
display: flex;
justify-content: space-around;
        dt {
          
          img {
  width: 160px;
  height: 128px;
          }
        }
  
        dd {
          p {
  margin: 10px;
  font-size: 14px;
          }
  
          div {
            span.nums {
            display: inline-block ;
              margin-left: 10px;
              text-align: center;
              line-height: 30px;
              width: 66px;
              height: 30px;
  background-color: yellow;
  font-size: 16px;
  border-radius: 20px;
            }
  
            span {
              color: red;
              line-height: 20px;
              font-size: 20px;
              margin-left: 15px;
            }
  
            span.oldp {
              text-decoration: line-through;
              color: #ccc;
              font-size: 14px;
             
            }
  
            p.LJPT {
              text-align: center;
              margin: 5px 15px;
              height: 30px;
              background-color: red;
  display: block;
  color: #fff;
  border-radius: 20px;
  line-height: 30px;
            }
          }
        }
      }
    }
  }