.cart-manage {
  .cart-content {
    margin-top: 40px;
    background-color: #f2f2f2;
    margin-bottom: 75px;
    overflow-y: auto;
    .cart-content-top {
      border-top: 1px solid #efefef;
      height: 30px;
      padding: 0 10px;
      background-color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .cart-content-top-left {
        color: #7a7a7a;
      }
      .cart-content-top-right {
        font-weight: bold;
        color: #d87ec6;
      }
    }
    .cart-goods {
      .cart-goods-item {
        margin-bottom: 5px;
        background-color: #fff;
        width: 100vw;
        height: 112px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px 0 20px;
        img {
          width: 66px;
          height: 66px;
        }
        .cart-goods-detail {
          width: 220px;
          color: #7a7a7a;
          .cart-goods-name {
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .cart-goods-type {
            margin-top: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .cart-goods-bottom {
            margin-top: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .cart-goods-price {
              span:nth-of-type(1){
                font-size: 14px;
                font-weight: bold;
                color: #ff7f55;
              }
              span:nth-of-type(2){
                text-decoration: line-through;
                color: #b0b0b0;
                margin-left: 5px;
              }
            }
          }
        }
      }
    }
  }
  .cart-manage-footer {
    width: 100vw;
    height: 68px;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    .select-all {
      display: flex;
      align-items: center;
      span {
        margin-left: 4px;
      }
    }
    button {
      border: none;
      outline: none;
      border-radius: 5px;
      color: #fff;
      font-weight: bold;
    }
    .to-collect {
      width: 114px;
      height: 33px;
      background-color: #ff4794;
      margin-left: 100px;
    }
    .del {
      width: 74px;
      height: 33px;
      background-color: #ff0000;
    }
  }
}

.iconfont {
  font-size: 14px!important;
}

.icon-xuanzhongduigou {
  color: #ff4794;
}