.payStatus {
  .success {
    margin: 60px auto 0;
    text-align: center;
    .iconfont {
      font-size: 80px!important;
      color: #ff4794;
    }
  }
  .fail {
    margin: 60px auto 0;
    text-align: center;
    .iconfont {
      color: #ccc;
      font-size: 80px!important;
    }
  }
  .status-msg {
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    color: #666;
  }
  .order-num {
    margin-top: 10px;
    color: #666;
    text-align: center;
  }
  .pay-now {
    width: 200px;
    height: 32px;
    text-align: center;
    background-color: #ff4794;
    line-height: 32px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 16px;
    margin: 60px auto;
  }
}