.hidden {
  visibility: hidden;
}
.active {
  background: #389aff;
  color: #fff;
}

.model {
  background: rgba($color: #999, $alpha: 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .modelItem {
    width: 80%;
    height: 30%;
    background: #fff;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 10%;
    border-radius: 5%;
    .title {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      h2 {
        font-weight: 600;
        font-size: 0.5rem;
        align-self: center;
      }
      i {
        width: 20px;
        height: 20px;
        font-style: normal;
      }
    }
    .weChat {
      display: flex;
      margin-top: 1rem;
      .box_f {
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        img {
          text-align: center;
        }
        span {
          text-align: center;
        }
      }
    }
  }
}
