.warpBox {
  width: 100%;
  height: 100%;
  .main_box {
    display: flex;
    flex-direction: column;
    text-align: center;
    .img_box {
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      background: #ff4794;
      margin: 1rem auto 0.4rem;
      img {
        margin-top: 0.6rem;
        vertical-align: middle;
      }
    }
    .msg {
      font-size: 0.45rem;
      line-height: 0.8rem;
    }
    .msg_tit {
      font-size: 0.5rem;
      line-height: 1.3rem;
      font-weight: 600;
      color: #666666;
    }
  }
  .order_box {
    width: 90%;
    margin: 0.2rem auto 0;
    padding: 0.2rem 0;
    background: url(../../../../../imgs/payimgs/box.png) no-repeat;
    background-size: 100%;
    .order {
      width: 100%;
      padding: 0.3rem;
      display: flex;
      flex-direction: column;
      .tit {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        img {
          height: 0.1rem;
          width: 25%;
          align-self: center;
        }
        span {
          font-size: 0.6rem;
          color: #666666;
        }
      }
      span {
        font-size: 0.45rem;
        color: #976666;
        text-align: center;
        line-height: 0.8rem;
      }
      .goods {
        width: 100%;
        display: flex;
        .left {
          flex: 1;
          width: 30%;
          img {
            width: 100%;
          }
        }
        .right {
          padding-left: 0.3rem;
          flex: 2;
          display: flex;
          flex-direction: column;
          .title {
            font-size: 0.36rem;
            color: #000;
            line-height: 0.5rem;
            text-align: left;
          }
          .pay_box {
            display: flex;
            i {
              width: 1.5rem;
              height: 0.65rem;
              font-size: 0.35rem;
              line-height: 0.65rem;
              border-radius: 0.325rem;
              background: #ff99cc;
              text-align: center;
              color: #fff;
              font-style: normal;
            }
            .pay {
              color: #f1486e;
              margin: 0 0.35rem;
            }
            .origin_pay {
              font-size: small;
              text-decoration: line-through;
              color: #ccc;
            }
          }
        }
      }
      .user_icon {
        width: 100%;
        display: flex;
        padding: 0.5rem;
        margin: 0.3rem 0 0;
        i {
          margin: 0 auto;
          img {
            text-align: center;
          }
        }
      }
      .timer {
        width: 65%;
        background: #1596fe;
        font-size: 0.35rem;
        color: #fff;
        line-height: 0.5rem;
        border-radius: 0.125rem;
        text-align: center;
        margin: 0 auto;
      }
    }
    .but {
      width: 85%;
      border-radius: 0.65rem;
      background-color: #ff4794;
      margin: 0 auto;
      color: #fff;
    }
  }
}
