.Live_warp {
  width: 100%;
  height: 100%;
  .l_title {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    height: 1.2rem;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    h1 {
      margin: 0;
      color: #666;
      text-align: center;
      line-height: 1.2rem;
    }
  }

  .Live_main {
    margin-top: 1.2rem;
    width: 100%;
    padding: 0.25rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .Live_item {
      width: 50%;
      .img_bg {
        position: relative;
        margin: 0 auto 1rem;
        .bg {
          text-align: center;
          width: 90%;
        }

        .looking {
          margin: 0.12rem;
          width: 2.6rem;
          position: absolute;
          top: 0;
          left: 0;
          background-color: #261f0e;
          border-radius: 0.4rem;
          img {
            margin-left: 0.2rem;
          }

          span {
            text-align: center;
            color: #fff;
            line-height: 0.8rem;
          }
        }

        .usericon_box {
          display: flex;
          flex-direction: column;
          position: absolute;
          bottom: -0.8rem;
          left: 36%;
          img {
            width: 0.8rme;
            height: 0.8rem;
          }

          span {
            font-size: 0.4rem;
            font-weight: 600;
            color: #666666;
          }
        }
      }

      .f_box {
        display: flex;
        justify-content: space-around;
        line-height: 0.6rem;
        margin-bottom: 0.6rem;
        .f_left {
          background-color: #ff88ff;
          border-radius: 0.2rem;
          span {
            font-size: 0.36rem;
            font-weight: 550;
            color: #fff;
          }
        }

        .f_right {
          span {
            font-size: 0.3rem;
            color: #666;
          }
        }
      }
    }
  }
}
