div.search {
   background-color: #fff;
    div.search-main {
        margin-top: 50px;
      div.ss {
          padding-top: 10px;
          display: flex;
          justify-content: space-around;
        input {
            padding: 0 20px;
  width: 290px;
  height: 30px;
  line-height: 30px;
  border:1px solid #ccc;
 border-radius: 15px;
}
  
        button {
            width: 50px;
            height: 30px;
            line-height: 30px;
            font-size: 14px;
            background-color: palevioletred;
            color: #fff;
            border:none;
            border-radius: 5px
        }
      }
  
      div.hot {
          margin-top: 10px;
        p {
  color: #ccc;
  font-size: 20px;
  padding: 10px;
        }
  
        div.hots {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
          span {
              margin-left: 8px;
  display: inline-block;
  width: 66px;
  height: 30px;
  line-height: 30px;
  background-color: #ccc;
  color: black;
  text-align: center;
  margin-top: 5px;
  border-radius: 10px;
          }
        }
      }
  
      div.lsjl {
        div.lisj-item {
            display: flex;
            
          p {
            color: #ccc;
            font-size: 20px;
            padding: 10px;
            align-self: flex-start;
          }
  
          button {
  margin-left: 180px;
  border:none;
  border-radius: 10px;
          }
        }
  
        span {
          display: inline-block;
          text-align: center;
          line-height: 30px;
          background-color: #ccc;
          border-radius: 15px;
          width: 66px;
          height: 30px;
          line-height: 30px;
          margin-left: 8px;
        }
      }
    }
  }