.coupon {
  .coupon-content {
    margin-top: 45px;
    .coupon-item {
      background-color: #fff;
      margin: 5px auto;
      width: 98vw;
      height: 120px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 65px 0 30px;
      border: 1px solid #eaeaea;
      border-radius: 5px;
      .coupon-img {
        position: relative;
        width: 46px;
        height: 45px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
        span {
          position: absolute;
          width: 60px;
          height: 15px;
          border-radius: 7px;
          color: #fff;
          background-color: #ffbb45;
          left: -7px;
          bottom: -6px;
          text-align: center;
          line-height: 15px;
        }
      }
      .coupon-center {
        color: #999;
        .coupon-name {
          margin-top: 5px;
          font-size: 13px;
          color: #666;
        }
        .coupon-type {
          margin-top: 5px;
        }
      }
      .coupon-right {
        .coupon-price {
          color: #ff0000;
          span {
            position: relative;
            left:26px;
            i {
              font-style: normal;
              font-size: 12px;
              position: absolute;
              top: 4px;
              left: -15px;
            }
            font-size: 20px;
            font-weight: bold;
          }
        }
        .coupon-use {
          width: 70px;
          height: 24px;
          background-color: #fb642a;
          color: #fff;
          text-align: center;
          line-height: 24px;
          border-radius: 12px;
        }
      }
    }
  }
}